body {
  background-color: #EFEFEF;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif', 'Meiryo';
  font-weight: 600;

}
img{
  width: 80%;
}
.white {
  color: white
}
#basic-nav-dropdown{
    font-size: 18px;
    padding: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
#alert {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0px;
  text-align: center;
}

#alert > span {
  width: 100px;
  height:20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.about-view {
    margin-top: -250px;
}
.navbar-fixed-top{
  border-bottom-width:0px;
}

.navbar div{
  margin-left: 0px;
}

.navbar-logo {
  max-height: 69px;
  width: auto;
  margin:-15px; 
}

#alert-success-message {
  background-color: #58c358;
}

#alert-failure-message {
  background-color: #ff7575;
}

.carousel-caption > h1, h2 {
  color: black;
}

.item {
  height: 400px;
}

.item > img {
  opacity: 0.5;
}

.footer-container {
    min-height: 100px;
    color: white;
    background-color: #404040;
    padding: 20px;
}
.footer-container div{

}
.footer-logo {
  padding: 10px 0 5px 72px;
  
}
.footer-logo img{
  width: 100%;
  padding-right: 15%;
  border-right: 1px solid white;
}
.footer-slogan h4{
    line-height: 160%;
    padding-top: 1%;
    padding-left: 35px;

    font-weight: 500;
}
.footer-icon{
    padding: 12px;
    padding-top: 10px;
    width: 40%;
}


.footer-detail{
  
}
.pic-slider img{
    width: 100%;
    
}
.pic-slider{
  background: black;
  padding-bottom: 2%;
  padding-right:0;

}
address {margin-bottom: 0px;font-style: normal;line-height: 1.428571;font-size: 13px;}
.black{
  background: black;
}
.home-slick-dot{
  
  padding-bottom:0;
}

.home-slick-dot li button:before {
    opacity: 1;
}
.home-slick-dot li.slick-active button:before {
    opacity: 100;
    color: white;
}
.home-slick-dot li button:before {
    opacity: 1;
    color: #777;
}
.activity-slider{
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}
.big-dots li button:before {
    font-size: 15px;
    line-height: 30px;
}
.big-dots li {
  width: 28px;
}
.home-landing > img {
  width: 100%;
  opacity: 0.5;
}

.home-number {
  padding-left: 30px;
  padding-right: 30px;
}

.home-number > span {
  position: absolute;
  top: 25%;
  font-size: 4vw;
  color: white;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

.home-number > span:nth-child(2) {
  top: 53%;
  font-size: 2vw;
}

.home-number img {
  position: relative;
  width: 100%;
}

.home-feature {
  height: 200px;
  overflow: hidden;
}

.home-feature > img {
  width: 100%;
  opacity: 0.5;
}

.home-numbers-container {
  background-color: #00a0ea;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 200px;
}

.home-features-container {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 200px;
}
.home-pic{
  padding: 0;
  height: 100%;
}
.home-blocks{
  background: #777;
  padding: 0;
  padding-bottom: 2%; 
  height: auto;
}
  .home-block{
    height: 95%;

    padding-left:2%;
  }
    .home-block-detail{
      background: white;
      width: 100%;
      text-align:left;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }
      .home-block-detail img{
        width: 100%;
      }
      .home-block-detail h2{
        border-left: 3px solid #fdb825;
        text-align: left;
        margin-left: 27px;
        padding-left: 15px;
      }
      .home-block-detail h4{
            margin: 10px;
    padding: 20px;
      }
.home-product{
  background: #1aaaeb;  
}
  .home-product-spec,.home-product-spec-left{
    text-align: center;
    padding: 7px;
    padding-top: 0;
    margin-top: -12px;
  }
  .home-product-spec img,.home-product-spec img{
      min-height: 20px;
      width: 90%;
      /* margin-left: -10px; */
  }
.home-product-block{
  padding-top: 20px;
  padding-bottom: 20px;
}
.home-product-detail p{
  font-size: 17px;
}
 .header-polgan-left{
  background: #fdb825;
  margin-left:-30px;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
  z-index:1;
  width: 100%;
  /* padding-bottom: 0px; */
  margin-top: -7px;
  /* padding-top: 0px; */
 }
 .right{
    text-align: right;
    padding-right: 25px;
 }
 .left{
   text-align: left;
   padding-left: 10px;
 }
  .header-polgan-right{
  background: #fdb825;
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0% 100%);
  z-index:1;
  margin-right: -15px;
  text-align: right;
  margin-top: -7px;
  /* padding-bottom: 1px; */
  /* padding-top: 1px; */
 }
.product-item {
  margin-top: 0px;
  margin-bottom: 0px;
  padding:10px;
  padding-bottom: 0px;
}
.product-item-back{
  background-color: #1aaaeb;
  height: 130px;
}
.product-item-white{
  background-color: white;
  margin-bottom:30px; 
  margin-top:10px; 
  padding: 15px;
  padding-top: 0px;
}
.product-item-title{
  border-left: 3px solid #fdb825;
  text-align: left;
  
  margin:15px; 

  padding: 0px;
  padding-left: 15px;
}
.product-item-title h1{
  font-size: 35px;
  margin:0px;
}
.product-item-descipt{
  font-size: 12px;
  margin-top: 10px;
}
.login-form, .orderinfo-form,  {
  background-color: #fff;
  box-shadow: 10px 10px 20px #888888; 
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.cart-btns {
  background-color: #fff2b0;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
.cart-info,.applicant-form,.orderinfo-form {
  background-color: #a0a0a0;
  margin-top:10px;
  margin-bottom: 10px;
  color:white;
}
.cart-add-btn{
  background-color: #a0a0a0;
}
.applicant-form-label, .orderinfo-form-label {
  font-weight: 900;
  margin-bottom: 0px;
  padding-top: 3px;

}


.form-line{
  padding-top: 15px;
  padding-bottom: 15px;
}
.applicant-form-input, .orderinfo-form-input {
  padding-right: 0px;
  padding-left: 0px;
  height: 25px;
  color:black;
}
.applicant-form-input-long{
  margin-top: 12px;
}
.applicant-form-dropdown {
  width: 50%;
  background: white;
  padding: 1px 0px 4px 2px;
}

.applicant-form-dropdown-margin, .orderinfo-form-dropdown-margin {
  height: 5px;
}

textarea.orderinfo-form-input {
  height: 70px;
}
.lot-text{
  text-align: justify;
}
.product-cover {
  padding-top: 69px;
  width: 100%;
}
.product-form-section{

  padding-bottom: 20px;
}
.product-form-section-blue{
  background-color: #1aaaeb;
  padding-bottom: 20px;
}
.product-form-section-blue div h2{
  color:white;
}
.yellow-bar{
  border-left: 6px solid #fdb825;
  padding-left: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.text-center{
  text-align: center;
}
.gray{
  background: #777;
  color:white;
}
.angle{
  border-radius: 0px;
}
.pic-small{
  display: block;
}
.pic-big{
  display: none;
}
.cart-next-btn{
  background: none;
  border:2px solid  #a0a0a0;
  font-family:"Microsoft JhengHei";
  font-size:18px;
  font-weight: 900;
  color:  #a0a0a0;
  padding-top:5px;
  padding-bottom: 5px;
}
.cart-next-btn:hover{
  background:#00a0ea;
  border:2px solid none;
  font-family:"Microsoft JhengHei";
  font-size:18px;
  font-weight: 900;
  color: white;
  padding-top:5px;
  padding-bottom: 5px;
}
.font-stlye{
  font-family:"Microsoft JhengHei";
}
.font-stlye h4{
  font-family:"Microsoft JhengHei";
  font-weight:900;
}

@media(max-width: 1014px){
.product-cover {
  padding-top: 69px;
  width: 100%;
}
.product-item-title h1 {
    font-size: 32px;

}
}
@media(max-width: 768px){
    .navbar-logo {
  max-height: 50px;
}

.footer-detail {
    padding-top: 15px;
}
.product-cover {
    padding-top: 50px;

}
.product-item-back{

  height: auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.product-item-img{
  padding:0px; 
}
.product-item-descipt{
  font-size: 18px;
}
.activity-slider {
  margin-top: -10px;
}
.product-item-title h1 {

}
}
@media(max-width: 428px){
  .navbar-logo {
    max-height: 35px;
    }
.about-view {
    margin-top: 0;
}
.footer-icon {
    padding: 3px;
    padding-top: 10px;
    width: 40%;
}
.footer-logo {
    padding: 10px 0 5px 39px;
}
.footer-logo img {
    width: 70%;
    padding-right: 15%;
    border-right: 1px solid white;
}

.product-item-title h1 {
    font-size: 26px;
}
}

@media(max-width: 343px){
  .navbar-logo {
  max-height:40px;
}
.product-item-title h1 {
    font-size: 23px;
    margin: 0px;
}
}

.more-about-right{
    background-color: white;
    color: #1aaaeb;
    border-bottom: 5px solid #fdb825;
    height: 50px;
    font-size: 19px;
    padding: 11px;
    padding-left: 8px;
}
.more-about-left{
    background-color: white;
    color: #1aaaeb;
    border-bottom: 7px solid #fdb825;
    height: 50px;
    /* font-size: 21px; */
    /* padding: 8px; */
    /* padding-right: 21px; */
    text-align: right;
    font-size: 18px;
    padding: 11px;
    padding-left: 8px;
}
.home-product-block h1{font-size: 29px;padding-left: 24px;padding-right: 42px;margin-bottom: 0;}
.header-polgan-left h4{
  padding-left: 40px;
  margin-bottom: auto;
  padding-top: 3px;
  font-size: 17px;
  padding-bottom: 2px;
}
.product-detail{
  line-height: 28px;
  margin-top: 0px;
  font-size: 17px;
  margin-bottom: 0px;
}
.home-product-spec  h3,.home-product-spec-left  h3{
  font-size: 13px;
}
.header-polgan-right h4{
  padding-right: 43px;
  margin-bottom: auto;
  padding-top: 3px;
  font-size: 17px;
  padding-bottom: 2px;
}
.btn-lg{
      margin: 15px;
}
@media(min-width:768px ){
    .container{
  width:auto;
}
  .home-product-pic{
    margin-top: -145px;
  }
  .more-about-right{
    margin-top: -80px;
  }
  .more-about-left{
    margin-top: -20px;
  }
  .yellow-bar{
  border-left: 0px;
  border-right: 6px solid #fdb825;
  padding-right: 12px;
  text-align: right;
  }
  .dimension-url{
    margin-top: -25px;

  }
  .pic-small{
    display: none;
  }
  .pic-big{
    display: block;
  }
  
  .home-product-block h1 {
    font-size: 29px;
    padding-left: 50px;
    padding-right: 42px;
    margin-bottom: 0;
  }
  .product-detail {
    line-height: 28px;
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 0px;
}
.header-polgan-left h4 {
    padding-left: 64px;
    margin-bottom: auto;
    padding-top: 3px;
    font-size: 17px;
    padding-bottom: 2px;
}
.left {
    text-align: left;
    padding-left: 34px;
}
.home-product-spec-left img,.home-product-spec-left h3{
  margin-left: 20px;
}
.home-product-spec img,.home-product-spec img{
      min-height: 20px;
      width: 80%;
      /* margin-left: -10px; */
  }
}
.product-form-section > .col-sm-7, .product-form-section >.col-sm-6{
  margin-top: 20px;
}
.space-text{
  white-space: pre-wrap;
}