body {
  background-color: #EFEFEF;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif', 'Meiryo';
}

#alert {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0px;
  text-align: center;
}

#alert > span {
  width: 100px;
  height:20px;
  background-color: #ff8e8e;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.carousel-caption > h1, h2 {
  color: black;
}

.item {
  height: 400px;
}

.item > img {
  opacity: 0.5;
}

.navbar-logo {
  height: 50px;
}

.footer-container {
  min-height: 200px;
  color: white;
  background-color: #404040;
  padding-top: 50px;
}

.footer-logo {
  height: 100px;
}

.home-landing > img {
  width: 100%;
  opacity: 0.5;
}

.home-number {
  padding-left: 30px;
  padding-right: 30px;
}

.home-number > span {
  position: absolute;
  top: 25%;
  font-size: 4vw;
  color: white;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

.home-number > span:nth-child(2) {
  top: 53%;
  font-size: 2vw;
}

.home-number img {
  position: relative;
  width: 100%;
}

.home-feature {
  height: 200px;
  overflow: hidden;
}

.home-feature > img {
  width: 100%;
  opacity: 0.5;
}

.home-numbers-container {
  background-color: #00a0ea;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 200px;
}

.home-features-container {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 200px;
}

.product-item {
  background-color: #8bc34a;
  min-height: 200px;
  margin-bottom: 20px;
}

.login-form, .applicant-form, .orderinfo-form {
  background-color: #fff;
  box-shadow: 10px 10px 20px #888888; 
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.cart-btns {
  background-color: #fff2b0;
  box-shadow: 10px 10px 20px #888888; 
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.orderinfo-form {
  background-color: #c5e5ec;
}

.applicant-form-label, .orderinfo-form-label {
  font-weight: 900;
  margin-bottom: 0px;
}

.applicant-form-input, .orderinfo-form-input {
  width: 100%;
  height: 25px;
}

.applicant-form-dropdown {
  width: 50%;
}

.applicant-form-dropdown-margin {
  height: 6px;
}

textarea.orderinfo-form-input {
  height: 70px;
}

.product-cover {
  width: 100%;
}